@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "cinema";
    src: url(Fontes/FilmLetters.ttf) format(truetype);
}

@font-face {
    font-family: "cinema2";
    src: url(Fontes/Cinematic-Language.ttf) format(truetype);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black; /*Cor de fundo do site*/
    color: white; /*Cor da fonte*/
    font-family: "Poppins", serif; /*Estilo da fonte*/
}

/*Menu de navegação*/
h1{
    background-color: #141313;
    text-align: center;
    font-family: "cinema";
    color: yellow;
    font-size: 100px;
    font-weight: normal;
}

header .login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem; /*Espaçamento interno*/
    background-color: #141313; /*Cor do menu*/
}

input[type=text]{
    height: 40px; /*Tamanho da caixa do texto*/
    border-radius: 5px; /*Cantos arredondados*/
    border: none; /*Sem borda*/
    padding: 0 .8rem; /*Espaçamento interno*/
}

.botao-entrar{
    display: flex;
    height: 40px; /*Altura do "botão"*/
    width: 100px; /*Largura do botão*/
    justify-content: center; /*Alinhamento eixo x*/
    align-items: center; /*Alinhamento eixo y*/
    border-radius: 10px;  /*Cantos arredondados*/
    background: linear-gradient(45deg, #0f4249, #22d3ee, #0989a0, #a5f3fc); /*Cor de fundo*/
    background-size: 400% 100%; /*Posicionamento da cor de fundo, eixo X e Y*/
    animation: login 15s ease infinite alternate; /*Animações: nome, duração até fim, estilo, duração da animação e que seja alternativa*/ 
    cursor: pointer;
}

.botao-login{
    color: white; /*Cor do texto*/
    text-decoration: none; /*Sem decorações no texto*/
}



nav{
    background-color: #141313; /*Cor do menu*/
}

nav ul{
    display: flex;
    flex-wrap: wrap; /*Faz com que a linha se quebre de acordo com o tamanho da janela do navegador*/
    justify-content: center; /*Alinha o conteudo no centro no eixo X*/
    align-items: center; /*Alinha no centro do eixo Y*/
    list-style: none; /*Tira a todos os estilos da lista, nesse caso, a bolinha*/
}

nav ul li a{
    display: block;
    color: white; /*Cor dos links*/
    text-decoration: none; /*Tira decoração do link (sublinhado)*/
    padding: 30px 30px; /*Coloca um espaçamento interno no elemento*/
    transition: .3s; /*Para que no hover não fique tão seca a animação de background*/
}

/*Hover: quando o mouse estiver posicionado em cima*/
nav ul li a:hover{
    color: yellow; /*Muda a cor do texto quando o mouse está em cima*/
}


.drop{
    position: relative;
}

.drop .menu{
    position: absolute; /*Faz com que sobreponha o elemento*/
    background-color: #292626; /*Cor do fundo*/
    width: 100%; /*Largura total*/
    overflow: hidden; /*Faz com que não vaze o conteúdo*/
    height: 0; /*Altura do menu*/
    transition: .5s; /*Transição para o dropdown*/
}

.drop .menu a{
    padding: 15px 35px; /*Espaçamento interno do link do menudropdown*/
}

.drop:hover .menu{
    height: 380px; /*Altura da lista do dropdown*/
}

.banner{
    width: 100%; /*Que a imagem ocupe 100% do site*/
    min-height: 300px;
    justify-content: center; /*Centralizado no eixo X*/
    align-items: center; /*Centralizado no eixo Y*/
    border-bottom: 1px solid white; /*Coloca borda embaixo*/
}

/*Conteúdo Principal do site (main)*/
.titulo{
    text-align: center;
    padding: 1rem;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: .5rem 0 2rem ;
}

.filmes-galeria{
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 180px;
    cursor: pointer;
    border: 1px solid rgba(70, 68, 68, 0.397) ;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.562);
    border-radius: 5px;
    transition: .3s;
}

.filmes-galeria:hover{
    transform: translateY(-6px); /*Faz com que o elemento levante 6px para cima quando o mouse estiver nele*/
}

.sinopses{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.911);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .3s;
    opacity: 0;
}

.sinopses:hover{
    opacity: 1;
}

.bi-info-circle-fill{
    font-size: 30px;
}