@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "cinema";
    src: url(Fontes/FilmLetters.ttf) format(truetype);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black; /*Cor de fundo do site*/
    color: white; /*Cor da fonte*/
    font-family: "Poppins", serif; /*Estilo da fonte*/
}

/*Menu de navegação*/

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}
h1{
    font-family: "cinema";
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    background-image: linear-gradient(45deg, yellow, orange, red);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    color: transparent;
    animation: cinema 20s ease infinite alternate;
}

@keyframes cinema{
    0%{background-position-x: 0%;}
    100%{background-position: 400%;}
}

  .login{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
    background-color: #141313; /*Cor do menu*/
    padding:0 2rem;
}

.mini-banner{
    height: 120px;
}

input[type=text]{
    height: 40px; /*Tamanho da caixa do texto*/
    border-radius: 5px; /*Cantos arredondados*/
    border: none; /*Sem borda*/
    padding: 0 .8rem; /*Espaçamento interno*/
}

.botao-entrar{
    display: flex;
    height: 40px; /*Altura do "botão"*/
    width: 100px; /*Largura do botão*/
    justify-content: center; /*Alinhamento eixo x*/
    align-items: center; /*Alinhamento eixo y*/
    border-radius: 10px;  /*Cantos arredondados*/
    background: linear-gradient(45deg, #0f4249, #22d3ee, #0989a0, #135b64);  /*Cor de fundo*/
    background-size: 400% 100%; /*Posicionamento da cor de fundo, eixo X e Y*/
    animation: login 15s ease infinite alternate; /*Animações: nome, duração até fim, estilo, duração da animação e que seja alternativa*/ 
    cursor: pointer;
}

.botao-login{
    color: white; /*Cor do texto*/
    text-decoration: none; /*Sem decorações no texto*/
}
nav {
    background-color: #141313; /* Cor do menu */
    display: flex;
    justify-content: center; /* Centraliza o menu na tela */
}

nav ul{
    display: flex;
    flex-wrap: wrap; /*Faz com que a linha se quebre de acordo com o tamanho da janela do navegador*/
    justify-content: center; /*Alinha o conteudo no centro no eixo X*/
    align-items: center; /*Alinha no centro do eixo Y*/
    list-style: none; /*Tira a todos os estilos da lista, nesse caso, a bolinha*/

}

nav ul li a{
    display: block;
    color: white; /*Cor dos links*/
    text-decoration: none; /*Tira decoração do link (sublinhado)*/
    padding: 20px 30px; /*Coloca um espaçamento interno no elemento*/
    transition: .3s; /*Para que no hover não fique tão seca a animação de background*/
    position: relative;
}

.barras::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: yellow;
    bottom: 0;
    left: 0;
    transition: .3s;
}

.barras:hover::after{
    width: 100%;
}

/*Hover: quando o mouse estiver posicionado em cima*/
nav ul li a:hover{
    color: yellow; /*Muda a cor do texto quando o mouse está em cima*/
}


.drop{
    position: relative;
}

.drop .menu{
    position: absolute; /*Faz com que sobreponha o elemento*/
    background-color: #292626; /*Cor do fundo*/
    width: 100%; /*Largura total*/
    overflow: hidden; /*Faz com que não vaze o conteúdo*/
    height: 0; /*Altura do menu*/
    transition: .5s; /*Transição para o dropdown*/
    z-index: 2;
}

.drop .menu a{
    padding: 15px 35px; /*Espaçamento interno do link do menudropdown*/
}

.drop:hover .menu{
    height: 380px; /*Altura da lista do dropdown*/
}

.drop .menu a{
    padding: 15px 35px; /*Espaçamento interno do link do menudropdown*/
}

.a1:hover{
    background-color: #1b1b1b;
}

/*Main*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
}
.titulo{
    text-align: center;
    padding: 1rem;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: .5rem 0 2rem ;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.titulo-filme{
    justify-content: center;
    align-items: center;
}
.filmes-galeria{
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 180px;
    cursor: pointer;
    border: 1px solid rgba(70, 68, 68, 0.397) ;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.562);
    border-radius: 5px;
    transition: .3s;
}

.filmes-galeria:hover{
    transform: translateY(-6px); /*Faz com que o elemento levante 6px para cima quando o mouse estiver nele*/
}

.sinopses h2{
    margin: .5rem;
    color: yellow;
    text-shadow: 0 3px 10px rgba(255, 255, 0, 0.212);
    font-size: 20px;
}

.sinopses{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.904);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .3s;
    opacity: 0;
}

.sinopses:hover{
    opacity: 1;
}



.bi-info-circle-fill{
    font-size: 25px;
}

.planos{
    padding: 5rem 0 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.planos-cinema{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1rem 0;
}
.basico, .mensal, .anual{
    border: 1px solid white;
    border-radius: 5px;
    height: 380px;
    width: 300px;
    transition: .3s ease;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basico{
    justify-content: center;
    align-items: center;
}

.basico:hover{transform: scale(1.02);} /*Aumenta a escala (tamanho)*/
.mensal:hover{transform: scale(1.02);}
.anual:hover{transform: scale(1.02);}
.check{color:green;}


.ofertas {
    padding-bottom: 1.5rem;
}

.botao-plano{
    display: flex;
    height: 50px;
    width: 100px; 
    justify-content: center; 
    align-items: center; 
    border-radius: 10px; 
    background: linear-gradient(45deg, #0f4249, #22d3ee, #0989a0, #135b64); 
    background-size: 400% 100%;
    animation: login 12s ease-in-out infinite alternate;  
    cursor: pointer;
    color: white;
    text-decoration: none;
}

/*Redes Sociais*/
footer{
    text-align: center;
    margin: 5rem 0 1rem 0;
}

footer h3{
    padding: .5rem;
}
.redes{
    display: flex;
    justify-content: center;
}

.redes ul li{
    display: flex;
    margin: 0 15px;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-color: white;
    transition: .3s;
    cursor: pointer;
    position: relative;
}

.redes ul li:hover{
    width: 100px;
}

.redes ul li:hover::before{
    opacity: 1;
}

.redes span{
    position: absolute;
}

.redes ul li .icon{
    font-size: 30px;
    transition: .2s;
}

.redes ul li .bi-instagram {color: rgb(194, 42, 67);}
.redes ul li .bi-github {color: #333333;} 
.redes ul li .bi-linkedin {color: #0077B5;}
.redes ul li .bi-coin{color: #d8b806;}

.redes ul li:hover .icon{
    transform: scale(0);
}

.redes ul li .text{
    font-size: 15px;
    transform: scale(0);
    font-weight: bold;
}

.redes ul li:hover .text{
    transform: scale(1);
    transition: .2s;
    transition-delay: .1s;
    color: white;
}

/*::before serve para insetir um conteúdo extra antes do conteúdo*/
.redes ul li::before {
    content: "";   /* Cria um conteúdo vazio */
    position: absolute; /* Posiciona em relação ao elemento pai */
    opacity: 0; /* Inicialmente deixa invisivel invisível */
    inset: 0; /* Faz com que o elemento ocupe todo o espaço do elemento pai */
    border-radius: 60px; /* Arredonda o elemento */
}


.redes ul li.instagram::before{background-image: linear-gradient(45deg,#fb3997, #fecf12);}
.redes ul li.github::before{background-image: linear-gradient(45deg,#333333, #6e5494);}
.redes ul li.linkedin::before{background-image: linear-gradient(45deg,#09c5ff, #0986ff);}
.redes ul li.coin::before{background-image: linear-gradient(45deg, #FFD700, #DAA520);}